@use "variables" as v;

body {
  margin: 0px;
  padding: 0px;
  background-color: antiquewhite;
}

nav {
  display: flex;
  justify-content: center;
  height: 80px;

  background-color: rgba(255, 255, 255, 0.6);

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .navList {
      display: flex;
      justify-content: center;
      gap: 4rem;
      margin-left: 3%;

      li {
        list-style: none;

        a {
          font-style: none;
          font-family: v.$font-family;
          font-size: v.$primary-font-size;

          text-decoration: none;
          color: v.$secondary-color;
        }
      }
    }

    .navTools {
      display: flex;
      align-items: center;
      justify-content: right;
      gap: 2rem;
      width: 100%;
      margin-right: 3%;

      .searchForm {
        position: relative;
        display: flex;

        width: 25%;

        .searchInput {
          padding: 0.5rem;
          width: 100%;

          background-color: rgb(247, 247, 247);

          border: none;
          border-radius: 35px;
          outline: none;

          font-family: v.$font-family;
          font-size: 0.8em;
          font-style: italic;

          color: v.$secondary-color;
        }

        .searchIcon {
          position: absolute;
          right: 0.8rem;
          top: 50%;
          transform: translateY(-50%);
          color: v.$secondary-color;
        }
      }

      .account {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5em;

        a {
          text-decoration: none;
          font-family: v.$font-family;

          color: v.$secondary-color;
        }
      }

      .shoppingCart {
        display: flex;
        align-items: center;
        gap: 0.5em;

        color: v.$secondary-color;

        a {
          text-decoration: none;
          font-family: v.$font-family;

          color: v.$secondary-color;
        }
      }
    }
  }
}
