$primary-color: white;
$secondary-color: black;
$hover-color: 0px 4px 8px rgba(0, 0, 0, 0.2);

$primary-font-size: 1em;

$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

$desktop: 1024px;
